<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Stock Symbol</th>
      <th scope="col">Transaction Type</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="col">Stock 1</td>
            <td scope="col">Buy</td>
            <td scope="col">4</td>
            <td scope="col">30</td>
            <td scope="col">xx/xx/20xx</td>
        </tr>
        <tr>
            <td scope="col">Stock 2</td>
            <td scope="col">Sell</td>
            <td scope="col">4</td>
            <td scope="col">30</td>
            <td scope="col">xx/xx/20xx</td>
        </tr>

    </tbody>
  </table>
