<div class="card">

<table mat-table  [dataSource] = "ELEMENT_DATA">

  <ng-container matColumnDef = "Stock Symbol">
    <th mat-header-cell *matHeaderCellDef> Stock Symbol</th>
    <td mat-cell *matCellDef = "let element"> {{element.stock_symbol}}</td>
  </ng-container>

  <ng-container matColumnDef = "Stock Name">
    <th mat-header-cell *matHeaderCellDef> Stock Name</th>
    <td mat-cell *matCellDef = "let element"> {{element.stock_name}}</td>
  </ng-container>

  <ng-container matColumnDef = "Transaction Type">
    <th mat-header-cell *matHeaderCellDef> Transaction Type</th>
    <td mat-cell *matCellDef = "let element"> {{element.transaction_type}}</td>
  </ng-container>

  <ng-container matColumnDef = "Quantity">
    <th mat-header-cell *matHeaderCellDef> Quantity</th>
    <td mat-cell *matCellDef = "let element"> {{element.abs}}</td>
  </ng-container>

  <ng-container matColumnDef = "Transaction Price">
    <th mat-header-cell *matHeaderCellDef> Transaction Price</th>
    <td mat-cell *matCellDef = "let element"> {{element.eod_price | currency:"INR":"symbol"}}</td>
  </ng-container>

  <ng-container matColumnDef = "Transaction Date">
    <th mat-header-cell *matHeaderCellDef> Transaction Date</th>
    <td mat-cell *matCellDef = "let element"> {{element.transaction_date | date : 'short'}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
</div>
