<div class="main-content">
    <div class="container">
        <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
            <div class="card-body">
                <h5 class="card-title text-center">Sign Up</h5>
                <form class="form-signin">
                <div class="form-label-group">
                    <label for="inputfn">First Name</label>
                    <input id="inputfn" class="form-control" placeholder="John" required autofocus>
                </div>

                <div class="form-label-group">
                    <label for="inputln">Last Name</label>
                    <input  id="inputln" class="form-control" placeholder="Doe" required autofocus>
                </div>
                <div class="form-label-group">
                    <label for="inputEmail">Email address</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                </div>

                <div class="form-label-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                </div>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign Up</button>
                </form>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
