@import '../../../main-styles.scss';

.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right top, $light-purple, $grad-purple);
    overflow-y: auto;
    --input-padding-x: 1.5rem;
    --input-padding-y: .3rem;
}
  
.card-signin {
border: 0;
border-radius: 1rem;
margin: 2rem;
box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
padding-left: 1rem;
padding-right: 1rem;
}
  
.card-signin .card-title {
margin: 1rem;
font-weight: 300;
font-size: 1.5rem;
padding : 0.5rem;
}
  
.card-signin .card-body {
padding: 0.75rem;
}
  
.form-signin {
width: 100%;
}
  
  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 0.75rem;
    transition: all 0.2s;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 0.25rem;
  }
  
  .form-label-group input {
    height: auto;
    border-radius: 2rem;
  }
  
  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }

  .btn{
    margin-top : 1rem;
    margin-bottom : 0.75rem;
  }

  // .form-label-group input:not(:placeholder-shown) {
  //   padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (1 / 4));
  //   padding-bottom: calc(var(--input-padding-y) / 4);
  // }
  
  // .form-label-group input:not(:placeholder-shown)~label {
  //   padding-top: calc(var(--input-padding-y) / 4);
  //   padding-bottom: calc(var(--input-padding-y) / 4);
  //   font-size: 12px;
  //   color: #777;
  // }