<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="Stock 1 |                                                        Price">
      <ng-template ngbPanelContent>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td>
                    Date of buying
                </td>
                <td>
                    4
                </td>
            </tr>
            <tr>
                <td>
                    Quantity
                </td>
                <td>
                    xx/xx/20xx
                </td>
            </tr>
            <tr>
                <td>
                    Price at the time of buying
                </td>
                <td>
                    Rs30
                </td>
            </tr>
            <tr>
                <td>
                    Profit/Loss
                </td>
                <td>
                    <p style="color: red;">300</p>
                </td>
            </tr>
            </tbody>
          </table>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Stock 2">
        <ng-template ngbPanelContent>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td>
                        Date of buying
                    </td>
                    <td>
                        4
                    </td>
                </tr>
                <tr>
                    <td>
                        Quantity
                    </td>
                    <td>
                        xx/xx/20xx
                    </td>
                </tr>
                <tr>
                    <td>
                        Price at the time of buying
                    </td>
                    <td>
                        Rs30
                    </td>
                </tr>
                <tr>
                    <td>
                        Profit/Loss
                    </td>
                    <td>
                        <p style="color: red;">300</p>
                    </td>
                </tr>
                </tbody>
              </table>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Stock 3">
        <ng-template ngbPanelContent>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td>
                        Date of buying
                    </td>
                    <td>
                        4
                    </td>
                </tr>
                <tr>
                    <td>
                        Quantity
                    </td>
                    <td>
                        xx/xx/20xx
                    </td>
                </tr>
                <tr>
                    <td>
                        Price at the time of buying
                    </td>
                    <td>
                        Rs30
                    </td>
                </tr>
                <tr>
                    <td>
                        Profit/Loss
                    </td>
                    <td>
                        <p style="color: red;">300</p>
                    </td>
                </tr>
                </tbody>
              </table>
        </ng-template>
      </ngb-panel>
    
    
  </ngb-accordion>


