<div class="col-md-8">
    <div class="card mb-3" >
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">First Name</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{userDetails.first_name}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Last Name</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{userDetails.last_name}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Email</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{userDetails.user_email}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Registration Date</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{userDetails.registration_date | date}}
          </div>
        </div>
      </div>
    </div>
