<div class="landing-page">
  <div class="head">
    <nav class="stroke">
      <div class="navbrand">
        <fa-icon [icon]="fachart" class="navbrand"></fa-icon>
        <span>MoneyGame</span>
      </div>
      <div class="nav-items  ">
        <ul>
          <li>
            <a [routerLink]="['/login']" class="">Login</a>
          </li>
          <li>
            <a [routerLink]="['/signup']" class="">
              Signup
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="headpage">
      <div class="text">
        <h4>Something 1</h4>
        <h1>
          Something 2
        </h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum harum necessitatibus eligendi laudantium error, labore vitae recusandae corrupti aspernatur molestiae eius! Delectus ea ducimus facilis quas neque in, ullam maxime?
        </p>
      </div>
      <div class="illustration">
        <img src="../../../assets/images/hero3.svg" alt="">
      </div>
    </div>
  </div>
</div>

<footer class="footer">
	<p class="footer-text">
		MoneyGame&nbsp;2021-
		<span class="footer-span"></span>
	&copy; Built with ❤️
	</p>
</footer>