<div class="landing-page">
  <div class="head">
    <nav class="stroke">
      <div class="navbrand">
        <fa-icon [icon]="fachart" class="navbrand"></fa-icon>
        <span class="company-title">MoneyGame</span>
      </div>
      <div class="nav-items  ">
        <ul>
          <li>
            <a [routerLink]="['/login']" class="">Login</a>
          </li>
          <li>
            <a [routerLink]="['/signup']" class="">
              Signup
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="headpage">
      <div class="text">
        <h4>It's your time to <span class="highlight-color"> learn</span></h4>
        <h1>
          how to <span class="highlight-color">Invest</span> in the <span class="highlight-color">Stock Market</span>.
        </h1>
        <p>
          MoneyGame is an investing simulation game. It gives players an opportunity to learn trading by experiencing markets in <span class="highlight-color">real time</span> with <span class="highlight-color">real data</span> without losing their money.
        </p>
      </div>
      <div class="illustration">
        <img src="../../../assets/images/moneygame-landingpage.svg" alt="">
      </div>
    </div>
  </div>
</div>

<footer class="footer">
	<p class="footer-text">
		MoneyGame&nbsp;2021-
		<span class="footer-span"></span>
	&copy; Built with ❤️
	</p>
</footer>