// This is where we put global styles and change variable values

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');

$dark-purple : #6666FF;
$light-purple : #CCCCFF;
$vlight-purple : #ebebff;
$grad-purple : #6666FF;
$light-grey : #F5F5F5;
$white : #FFFFFF;
$red : #FFFFFF;
$green : #63FC63;
$black : #333333;

// Update Bulmaás global variables
$family-sans-serif : "Raleway", sans-serif;
$primary : $dark-purple;
$text: $black;
$link : $dark-purple;

// Update some of Bulma's component variables
$control-border-width : 2px;
$input-border-color: transparent;
$input-shadow : none;

// set custom global styles(will be applied to whole app)
html{
    background: linear-gradient(to right top, $light-purple, $grad-purple);
}

html, body{
    height: 100%
}
