/* You can add global styles to this file, and also import other style files */
@import 'main-styles.scss';
// @import '../node_modules/bulma/bulma.sass';
/* Importing Bootstrap SCSS file. */
@import 'main-styles';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'Raleway'
);

@include angular-material-typography($custom-typography);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');

html, body { height: 100%;
    font-family: 'Raleway' !important }
body { margin: 0;  }
