<div class="centered-content">
    <div class="dashboard-container">
        <div class="sidebar">
            <div class="company-title lead h1">
                <span>
                    <fa-icon [icon]="fachart"></fa-icon>
                    MoneyGame</span>
            </div>
                <div class="list-menu">
                    <a class="list-menu-items is-active"> 
                        <p>Portfolio</p>
                    </a>
                    <a class="list-menu-items"> 
                        <p>All transactions</p>
                    </a>
                    <a class="list-menu-items"> 
                        <p>Buy</p>
                    </a>
                    <a class="list-menu-items"> 
                        <p>Sell</p>
                    </a>
                    <a class="list-menu-items"> 
                        <p>User Info</p>
                    </a>
                </div>
                <button class="btn-outline-primary logout-btn">Logout</button>
            
        </div>
        <div class="main-content-container">
            
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                <ngb-panel title="Stock 1">
                  <ng-template ngbPanelContent>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td>
                                Date of buying
                            </td>
                            <td>
                                4
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Quantity
                            </td>
                            <td>
                                xx/xx/20xx
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Price at the time of buying
                            </td>
                            <td>
                                Rs30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Profit/Loss
                            </td>
                            <td>
                                <p style="color: red;">300</p>
                            </td>
                        </tr>
                        </tbody>
                      </table>
                  </ng-template>
                </ngb-panel>
                <ngb-panel title="Stock 2">
                    <ng-template ngbPanelContent>
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                      labore sustainable VHS.
                    </ng-template>
                  </ngb-panel>
                  <ngb-panel title="Stock 3">
                    <ng-template ngbPanelContent>
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                      labore sustainable VHS.
                    </ng-template>
                  </ngb-panel>
                
                
              </ngb-accordion>
            
        </div>
    </div>
</div>
