<div class="centered-content">
    <div class="dashboard-container">
        <div class="sidebar">
            <div class="company-title title">
                <span>
                    <!-- <fa-icon [icon]="fachart"></fa-icon> -->
                    MoneyGame</span>
            </div>
                <div class="list-menu">
                    <a class="list-menu-items is-active"> 
                        <p>Portfolio</p>
                    </a>
                    <a class="list-menu-items"> 
                        <p>All transactions</p>
                    </a>
                    <a class="list-menu-items"> 
                        <p>Buy</p>
                    </a>
                    <a class="list-menu-items"> 
                        <p>Sell</p>
                    </a>
                    <a class="list-menu-items"> 
                        <p>User Info</p>
                    </a>
                </div>
                <button class="button logout-btn">Logout</button>
            
        </div>
        <div class="main-content-container">
            <h1 class="has-text-primary">
                main content
            </h1>
            
            
        </div>
    </div>
</div>
