<div class="centered-content">
    <div class="dashboard-container">
        <div class="sidebar">
            <div class="company-title lead h1">
                <span>
                    <fa-icon [icon]="fachart"></fa-icon>
                    MoneyGame</span>
            </div>
                <div class="list-menu">
                    <a class="list-menu-items " [routerLink]="['portfolio']" routerLinkActive="active" > 
                        <span>
                            <fa-icon [icon]="faThList"></fa-icon>
                            Portfolio
                        </span>
                    </a>
                    <a class="list-menu-items" [routerLink]="['all-transactions']" routerLinkActive="active" > 
                        <span>
                            <fa-icon [icon]="faShoppingCart"></fa-icon>
                            All transactions
                        </span>
                    </a>
                    <a class="list-menu-items" [routerLink]="['buy']" routerLinkActive="active"> 
                        <span>
                            <fa-icon [icon]="faShoppingBag"></fa-icon>
                            Buy 
                        </span>
                    </a>
                    <a class="list-menu-items"> 
                        <span>
                            <fa-icon [icon]="faHandHoldingUsd"></fa-icon>
                            Sell 
                        </span>
                    </a>
                    <a class="list-menu-items" [routerLink]="['userinfo']" routerLinkActive="active"> 
                        <span>
                            <fa-icon [icon]="faUser"></fa-icon>
                            User Info 
                        </span>
                    </a>
                </div>
                <button class="btn-primary logout-btn" (click)= "onLogout()">
                    <span>
                        <fa-icon [icon]="faSignOutAlt"></fa-icon>
                        Logout 
                    </span>
                </button>
            
        </div>
        <div class="main-content-container">
            
            <!-- <app-portfolio></app-portfolio>
            <app-all-transactions></app-all-transactions> -->
            <router-outlet></router-outlet>
            
        </div>
    </div>
</div>
