<div class="col-md-8 card">
<form class= "card-body">
    <div class="form-group">
      <label for="stockSymbol">Enter Stock Symbol</label>
      <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="stock_symbol" [ngbTypeahead]="search"/>
      <!-- <input id="typeahead-prevent-manual-entry"  type="text" class="form-control"
      [(ngModel)]="stock_symbol"
      [ngbTypeahead]="search"
      
      [editable]='false' /> -->
      
    </div>
    <div class="form-group">
      <label for="quantity">Enter Quantity</label>
      <input  class="form-control" id="quantity" placeholder="Enter Quantity">
    </div>

    <div class="form-group">
        <label for="currPrice">Current Price</label>
        <input  class="form-control" id="currPrice" placeholder="30" disabled>
      </div>

      <div class="form-group">
        <label for="totalAmount">Total Amount</label>
        <input  class="form-control" id="totalAmounte" placeholder="300" disabled>
      </div>
    
    <button type="submit" class=" btn-primary">Submit</button>
</form>
</div>

